body {
    background: #808080;
	background-image: url('../images/2_bg.jpg');
	background-repeat: no-repeat;
	background-position: center middle;
	background-attachment:fixed;
}

.game-entry-author {
	color: #202020;
}

.game-entry {
	border: 5px solid #606060;
}

.game-entry.system {
	border: 5px solid #606060;
}

.game-entry.to {
	border: 5px solid #000000;
}

.game-entry.from {
	border: 5px solid #606060;
}

.game-entry, .transparent { 
	/* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity = 80);
	/* Older than Firefox 0.9 */
	-moz-opacity: 0.8;
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.8;
	/* Modern!
     /* Firefox 0.9+, Safari 2?, Chrome any?
     /* Opera 9+, IE 9+ */
	opacity: 0.8;
}